* {
    color: #4d0808;
    background-image: url(img/background/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
}

h1 {
    text-align: center;
}

a:link {
    color: darkslategrey;
}
tabla{
    border: 1px solid #aa7777;
    border-collapse: collapse;
    margin: 0 auto;
}
td, th{ 
    padding: 0.5rem;
    border: 1px solid #aa7777;
}
.minikep{
    float: right;
    width: 400px;
    margin-left: 20px;
    border: 3px solid #4d0808;
}

p {
    text-indent: 1cm;
    line-height: 1.5;
}

.kepek {
    text-align: center;
    float: none;
}

.kep {
    width: 280px;
    vertical-align: middle;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border: 1px solid #4d0808;
    box-shadow: 3px 3px 10px #4d0808;

}